#header{
    background-size: cover;
    background-position-y: 40%;
    color:white;
    background-color:rgb(83, 83, 83);
    position:relative !important;
}


#header h1{
    font-size: 400%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}

.jumbotron {
    padding: 1rem;
    border-radius: 0;
}

#city-search{
    width:80%;
}

#search-button-icon{
    width:15px;
    display:inline-block;
}

#current-weather {
    padding-left: 15px;
}

#clear{
    color:rgb(165, 165, 165);
    text-decoration: none;
    font-size:.75em;
    margin: .5em 0em 0em .5em;
}

.weather-card{
    width: 9rem;
    background-color: #0275d8;
    color: white;
    text-align: center;
}

.uv-favorable{
    background-color: rgb(63, 252, 63);
    border-radius: 5px;
    color: white;
}

.uv-moderate{
    background-color: rgb(240, 220, 41);
    border-radius: 5px;
    color: white;
}

.uv-severe{
    background-color: rgb(248, 43, 43);
    border-radius: 5px;
    color: white;
}

@media only screen and (max-width: 992px) {
    #city-search{
        width:100%;
    }
    #search-button{
        width:100%;
    }
}
@media only screen and (max-width: 575px) {

    #fiveDayForecastUl{
        justify-content: center;
    }
}